<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<div class="conatiner">
    <div class ="row">
        <form action="http://localhost:5000" method="POST">
            <div class="col-sm-9">
                <div class ="form-group purple-border">
                    <label for ="comment">texture_mean</label>
                    <textarea class="form-control" rows="2" id="query1" name="query1" rows="2" cols="5" autofocus>{{query1}}</textarea>
                </div>
                <div class="form-group purple-border">
                    <label for="comment">texture_mean</label>
                    <textarea class="form-control" rows="2" id="query2" name="query2" rows="2" cols="5" autofocus>{{query2}}</textarea>
                </div>
                <div class="form-group purple-border">
                    <label for="comment">texture_mean</label>
                    <textarea class="form-control" rows="2" id="query3" name="query3" rows="2" cols="5" autofocus>{{query3}}</textarea>
                </div>
                <div class="form-group purple-border">
                    <label for="comment">texture_mean</label>
                    <textarea class="form-control" rows="2" id="query4" name="query4" rows="2" cols="5" autofocus>{{query4}}</textarea>
                </div>
                <div class="form-group purple-border">
                    <label for="comment">texture_mean</label>
                    <textarea class="form-control" rows="2" id="query5" name="query5" rows="2" cols="5" autofocus>{{query5}}</textarea>
                </div>
                </div>
                <div class="col-sm3">
                    <button type ="submit" class="btn btn-primary" name="submit">SUBMIT</button>
                </div>
                </form>
                </div>
                </div class ="row">
                    <div class="col-sm-9">
                        <textarea class="form-control"rows="2" id="comment" name="query6" rows="2"cols="5" autofocus>{{output1}}</textarea>
                        <textarea class="form-control" rows="2" id="comment" name ="query7" cols="5" rows="2"autofocus>{{output2}}</textarea>
                    </div>
                </div>
            </div>
            
                
            </body>
</html>       

                        